name: Check for a new client version
on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  skip-duplicates:
    name: Skip update if job is already in progress
    runs-on: ubuntu-latest
    outputs:
      should-skip: ${{ steps.skip-check.outputs.should_skip }}
    steps:
      - id: skip-check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          skip_after_successful_duplicate: 'false'
          concurrent_skipping: 'always'

  check-update:
    runs-on: ubuntu-latest
    needs: skip-duplicates
    if: ${{ needs.skip-duplicates.outputs.should-skip != 'true' }}
    outputs:
      latest: ${{ steps.check-update.outputs.latest }}
      dev: ${{ steps.check-update.outputs.dev }}
      integration: ${{ steps.check-update.outputs.dev }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Check for updates
        id: check-update
        run: yarn check-updates

  update-latest:
    name: Update latest tag
    needs:
      - check-update
    if: ${{ needs.check-update.outputs.latest != ''}}
    uses: ./.github/workflows/update-and-publish.yml
    secrets: inherit
    with:
      npmTag: latest
      version: ${{ needs.check-update.outputs.latest }}

  update-dev:
    name: Update dev tag
    needs:
      - check-update
    if: ${{ needs.check-update.outputs.dev != ''}}
    uses: ./.github/workflows/update-and-publish.yml
    secrets: inherit
    with:
      npmTag: dev
      version: ${{ needs.check-update.outputs.dev }}
